// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// COLORS
$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-white: #edf7f2;
$c-pure-white: #fff;

// Shadows
$shadow-1: 0.2rem 0.4rem 0.4rem rgba(#000, 0.4);

// MEASUREMENTS
$m-gutter: 1rem;
$m-max-width: 60rem;

// FONTS
$font: 'Dosis', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Dosis:400,500');
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'header';

.hero {
  display: flex;
  align-items: center;
  background: $c-pure-white;
  margin: $m-gutter 0;
  padding: $m-gutter;
  border: 0.2rem solid $c-secondary;

  &__center {
    font-size: 1.25rem;
    width: 100%;
    text-align: right;
  }

  &__message {
    font-size: 3rem;
    margin: 0 0 ($m-gutter / 2);
  }

  &-buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
  }

  &__img {
    position: absolute;
    width: 2.5rem;
    right: $m-gutter;
    bottom: $m-gutter;
  }

}

// @media (max-width: 550px) {
//   .hero {
//     flex-direction: column;
//
//     &__left {
//       text-align: center;
//       margin-bottom: $m-gutter;
//     }
//
//     &__right {
//       flex-grow: 1;
//     }
//   }
// }

// Card Styles Across /register and /login
.card {
  width: 100%;
  max-width: 31.2rem;
  margin: $m-gutter auto;
  box-shadow: $shadow-1;

  // Card Heading Styles
  &__heading {
    background: $c-primary;
    color: $c-white;
    padding: $m-gutter / 2;
  }

  // Clears margin so padding can be adusted properly
  &__message {
    margin: 0;
  }

  // Card Form Styles
  &__form {
    background: $c-pure-white;

    &__input {
      width: 100%;
      border: 0;
      border-bottom: 0.2rem solid $c-secondary;
      font-size: 0.9rem;
      font-weight: 400;
      padding: 0.5rem 0.1rem 0.1rem;
      outline: none;
    }
  }

  .form-control {
    > * {
      margin-bottom: $m-gutter;
    }

    label {
      font-weight: 500;
      margin-bottom: $m-gutter;
    }
  }
}

.form-inputs {
  padding: $m-gutter / 2;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  padding: $m-gutter ($m-gutter / 2);
  border-top: 0.1rem solid $c-secondary;
}

.button {
  border: 0;
  padding: ($m-gutter / 2) $m-gutter;
  font-family: $font;
  font-weight: 500;
  font-size: 1rem;
  outline: none;

  &:active {
    position: relative;
    top: 2px;
  }

  &--secondary {
    color: $c-secondary;
    background: $c-white;
  }

  &--primary {
    color: $c-white;
    background: $c-primary;
  }
}
