// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// COLORS
$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-white: #edf7f2;
$c-pure-white: #fff;

// Shadows
$shadow-1: 0.2rem 0.4rem 0.4rem rgba(#000, 0.4);

// MEASUREMENTS
$m-gutter: 1rem;
$m-max-width: 60rem;

// FONTS
$font: 'Dosis', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Dosis:400,500');
@import 'box-sizing';
@import 'resets'; // Minor resets
@import 'layout'; // Sections and containers to be resused across multiples sections and pages
@import 'header'; // Header styles to be used across entire site
@import 'hero'; // Hero styles for the /index route
@import 'card'; // /Login and /Register card styles
