// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// COLORS
$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-secondary-light: #7FC6BC;
$c-white: #edf7f2;
$c-pure-white: #fff;

// MEASUREMENTS
$m-gutter: 1rem;
$m-max-width: 60rem;

// FONTS
$font: 'Dosis', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Dosis:400,500');
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'header';

// Register Route Styles, trying to make them reusable

.card {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;


  // Card Heading Styles
  &__heading {
    background: $c-primary;
    color: $c-white;
    padding: $m-gutter / 2;
  }

  // Clears margin so padding can be adusted properly
  &__message {
    margin: 0;
  }

  // Card Form Styles
  &__form {
    padding: $m-gutter / 2;
    background: $c-pure-white;

    &__input {
      width: 100%;
    }
  }

  .form-control {
    > * {

    }
  }


}
